<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
    </title>

    </head>

<div id="home">
  <div class="container">

    <a href="/logout">Logout</a>
    
    <div id ="book-month">
      <h1>Book of the month</h1>
      <h2>Title: {{this.book.volumeInfo.title}}</h2>
      <h2>Authors: {{this.book.volumeInfo.authors}}</h2>
      <h2>Genre: {{this.book.volumeInfo.categories}}</h2>
      <h2>5 Star Rating: {{this.book.volumeInfo.averageRating}}</h2>
      <p>{{this.book.volumeInfo.description}}</p>

    </div>
  </div>
</div>

</html>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script>

//This is the axios get method to the Google Books API to produce the book of the month

  $.get("https://www.googleapis.com/books/v1/volumes?q=subject:fiction+inauthor:rowling&key=AIzaSyANAvNRCQ95S0TuXsGL9G_-TZ9RYsywtaA")
  .done(function (books) {
  // $("#book-month").text(books.items[0].volumeInfo.title);
  });
</script>


